:root {
  --main-color: #B6666F;
  --secondary-color: #E4C2C1;
  --tertiary-color: #FEF2F2;
  --accent-color: #F53163;
  --secondary-accent-color: #495B41;
  --dark-text: #612;
}

* {
  font-family: Trebuchet MS, sans-serif;
  font-size: 12px;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  display: flex;
}

head {
  display: none;
}

/*11*/
nav {
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  height: 65px;
  padding: 0px 20px;
  display: flex;
  align-items: center;
  justify-content: right;
  color: var(--tertiary-color);
  background-color: var(--main-color);
  z-index: 99;
}

ul {
  list-style-type: none;
}

#navbar ul {
  display: flex;
  margin-block-start: .8em;
  margin-block-end: 1em;
  font-size: 1.4em;
  background-color: var(--main-color);
}

#navbar li {
  font-size: 1em;
  color: var(--header-text-color);
}

#navbar a {
  display: block;
  padding: 2rem;
  font-size: inherit;
  color: inherit;
  justify-content: center;
  transition: background 0.08s linear;
}

#navbar a:hover {
  background-color: var(--secondary-accent-color);
  color: var(--secondary-color);
}

body {
  width: 100%;
  background-color: var(--tertiary-color);
  display: block;
}

.welcome-section, .contact {
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  /*10*/
  height: 100vh;
  align-content: flex-start;
  background-image: linear-gradient(
    40deg,
    var(--tertiary-color) 0%,
    #EDE0E0 100%
  );
}

h1 {
  font-size: 4em;
  color: var(--dark-text);
  padding: 10px;
  font-weight: 700;
  text-align: center;
}

h3 {
  font-size: 2.5em;
  padding: 10px;
  font-weight: 600;
  color: var(--main-color);
  text-align: center;
}

.projects {
  width: 100%;
  padding: 5rem 1rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  background-color: 
    var(--secondary-accent-color);
}

.projects h3 {
  color: var(--secondary-color);
  margin-bottom: 3rem;
}

.project-grid {
  display: grid;
  text-align: center;
  justify-items: center;
  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
  grid-gap: 2rem;
  width: 100%;
  max-width: 1280px;
  padding: 20px 0;
}

a {
  text-decoration: none;
}

p {
  display: flex;
  flex-direction: column;
}

.project-title {
  font-size: 1.5rem;
  padding: 1rem;
  background-color: var(--main-color);
  color: var(--tertiary-color);
  transition: background 0.4s ease-out;
}

.project-image {
  display: block;
  height: calc(100% - 3.75rem);
  width: 100%;
  object-fit: cover;
}

.contain-image {
  object-fit: contain;
}

.projects a {
  display: flex;
  flex-direction: column;
}

.button {
  font-size: 1.5rem;
  transition: background 0.4s ease-out;
  padding: 1rem 2rem;
  margin: 2.2rem 0;
  border-radius: 3px;
  align-items: center;
  background-color: var(--main-color);
  color: var(--tertiary-color);
}

.button:hover,
a.project:hover .project-title {
  background-color: var(--dark-text);
}

.contact a {
  text-shadow: 1px 1px 1px var(--dark-text);
  transition: transform 0.3s ease-out;
  color: var(--dark-text);
  align-items: center;
  padding: 1rem 2rem;
}

.contact-container {
  justify-content: center;
  width: 100%;
  max-width: 1080px;
  margin-top: 5rem;
  flex-wrap: wrap;
}

.contact li {
  font-size: 3em;
}

.contact a:hover {
  transform: translateY(10px);
}

.fa {
  font-size: 3em;
}

footer {
  font-weight: 300;
  display: flex;
  justify-content: space-evenly;
  padding: 2rem;
  background: var(--main-gray);
  border-top: 4px solid var(--main-color);
  color: var(--dark-text);
}

/*9*/
@media (max-width: 1050px) {
  .project-grid {
    grid-template-columns: repeat(2, 1fr); /* 2 items per row on medium screens */
    padding-left: 60px;
    padding-right: 60px;
  }
  .projects a {
    max-height: 400px;
  }
}

@media (max-width: 600px) {
  .project-grid {
    grid-template-columns: 1fr; /* 1 item per row on small screens */
  }
}

